<div style="margin-top: 30px;" class="barcodeTables row">
    <div class="col s7">
        <div class="barcodeEntry">
            <table>
                <tr class="barcode-header">
                    <th>
                        Barkod
                    </th>
                    <th>
                        Stok Kodu
                    </th>
                    <th>
                        Adet
                    </th>
                    <th>
                        Koli
                    </th>
                </tr>
                <tr class="first-row">
                    <td contenteditable="true" class="barcode" title="test">

                    </td>
                    <td contenteditable="true" class="stockcode">

                    </td>
                    <td contenteditable="true" class="miktar">

                    </td>
                    <td contenteditable="true" class="koli">

                    </td>
                </tr>
            </table>

        </div>
        <a class="waves-effect waves-light btn-small download-excel"><i
                class="material-icons left">cloud_download</i>İNDİR</a>
    </div>
    <div class="col s5">
        <div class="itemCountTable">
            <table>
                <tr>
                    <th>Stok Kodu</th>
                    <th>Fark</th>
                </tr>
            </table>
        </div>
    </div>

</div>