<!-- this view takes the info from server and produces a query list for each selection -->
<div class="filter-bar form-group container">
    <div class="row">
        <label for="filtercompany">Firma</label>
        <select class="form-control" name="filtercompany" id="filtercompany"></select>
        <label for="filterno">Sipariş No</label>
        <input class="form-control" name="filterno" type="text">
        <label for="filterstatus">Sipariş Durumu</label>
        <select class="form-control" name="filterstatus" id="filterstatus"></select>
    </div>
</div>


<script src="/js/filterbar.js"></script>