<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">

<nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:3001/">Vitaus</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="http://localhost:3001/order/">Sipariş</a></li>
        <li><a href="http://localhost:3001/kampanya/">Kampanya</a></li>
        <li><a href="http://localhost:3001/stok/">Stok</a></li>
    </ul>
    </div>
</nav>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/js/utility.js"></script>
<script>
    //DONT FORGET TO CHANGE THIS AFTER CHANGING NAVIGATION CONTENT
    $(".nav li a").each(function(){
        if(window.location.href == $(this).attr("href")){
            $(this).parent().addClass("active");
        }
    })
</script>