.container>.header {
    /* background: #2E3740; */
    /* color: white; */
    color: #242f39;
    padding-left: 5px;
    border-bottom: 1px solid #707070;
}

.info-header {
    color: #242f39;
    padding-left: 5px;
    border-bottom: 1px solid #707070;
}

.info-header span {
    font-size: 22px;
}

.info-header span:nth-child(2) {
    margin-left: 25px;
    font-weight: 400;
    font-size: 19px;
    color: #707070;
}

.orderNo {
    cursor: pointer;
}

.info-header p {
    margin-top: 0;
    color: #707070;
}

.container>.header span {
    color: #707070;
    margin-top: 0px;
}

.container>.header h5 {
    margin-bottom: 3px;
    color: #242f39;
}

.custom-context {
    display: none;
    position: fixed;
    background: #0f1419;
    color: #707070;
    left: 50%;
    top: 50%;
    border-radius: 2px;
}

.custom-context ul {
    /* padding: 5px; */
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.custom-context li {
    padding-left: 5px;
    padding-right: 5px;

    /* line-height: 0.6rem; */
    cursor: pointer;
}

.custom-context li:hover {
    background: #222e3a;
}

.container {
    max-width: 1272px;
}

.select-container {
    display: none;
}

.select-container-primary {
    padding-bottom: 10px !important;
}

.select-container-primary {
    white-space: nowrap;
    overflow: hidden;
}

.select-container-primary h5 {
    font-size: 15px;
    text-transform: uppercase;
}

.select-container-primary select {
    height: 2.3rem;
}

#orderPreview {
    background: rgba(255, 255, 255, 0.04);
}

#orderPreview table {}

#orderPreview table,
th,
td {
    border: 1px solid grey;
}

#orderPreview table tr:nth-child(1) {
    color: #00a42c;
}

/* #orderPreview table tr:nth-child(2) td:nth-child(1) {
    background: black;
} */

#confirmChoice {
    height: 2.3rem;
}

#orderPreview table tr {}

.table-container {
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px -1px;
    padding: 10px;
    /* background: #242f39; */
    max-height: 400px;
    overflow-y: auto;
    display: none;
}

.download-excel {
    margin-top: 5px;
}

#orderPreview table tr td:nth-child(2) {
    /* background: green; */
}

.green {
    background: #83f57f;
}

.blue {
    background: #4287f5;
}

.red {
    background: #f54242;
}

.orange {
    background: orange;
}

.hover {
    background: rgba(0, 173, 23, 0.4);
}

.choose {
    background: #83f57f;
}

#secimToggle {
    cursor: pointer;
    display: none;
    width: 100px;
}

#secimToggle:hover {
    color: green;
}

.barcodeEntry table {
    table-layout: fixed;
}

.barcodeEntry {
    padding: 10px;
    /* background: #242f39; */
    max-height: 400px;
    overflow-y: auto;
    border: 0;
}

.barcodeEntry tr {
    line-height: 0.6rem;
}

.barcodeEntry th {
    border: 0;
    text-align: center;
}

.barcodeEntry td {}

[contenteditable="true"] {
    white-space: nowrap;
    overflow: hidden;
}

.itemCountTable {
    padding: 10px;
    /* background: #242f39; */
    max-height: 400px;
    overflow-y: auto;
}

.itemCountTable th {
    border: 0;
    text-align: center;
}

.barcodeTables {
    display: none;
}